{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Forum{% endblock %}</title>
    {# <link rel="stylesheet" href="{{ asset('css/app.css') }}"> #}
</head>
<body>
    <header>
        <nav>
            <a href="{{ path('post_index') }}">Home</a>
            <a href="{{ path('post_new') }}">Create Post</a>
        </nav>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
