{% extends 'base.html.twig' %}


{% block body %}
    

{# templates/animal/upload.html.twig #}
<form id="upload-form" method="post" enctype="multipart/form-data">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <ul id="file-list"></ul> <!-- Place where selected files will appear -->
        <button type="submit">Upload</button>
    {{ form_end(form) }}
</form>

<script>
    // JavaScript to handle adding/removing files dynamically
    document.querySelector('#animal_files').addEventListener('change', function(e) {
        const files = e.target.files;
        console.log (files);
        const fileList = document.querySelector('#file-list');

        Array.from(files).forEach(file => {
            const listItem = document.createElement('li');
            listItem.classList.add('file-item');

            // Display the file name
            listItem.textContent = file.name;

            // Add a remove link
            const removeLink = document.createElement('a');
            removeLink.href = '#';
            removeLink.textContent = ' X';
            removeLink.classList.add('remove-file');
            removeLink.onclick = function(e) {
                e.preventDefault();
                listItem.remove(); // Remove the file from the list
            };

            listItem.appendChild(removeLink);
            fileList.appendChild(listItem);
        });

        // Reset the file input so the user can continue adding more files
        e.target.value = '';
    });
</script>
{% endblock %}